.navbar { background-color: #fff; }

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gray;
  opacity: .4;
}

#header {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(../images/runner.jpg);
}

#logo-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

#search-container {
  height: 150px;
  background-color: #FFE04E;
}

#search { margin-top: 50px; }
#label { margin-right: 20px; }

#activity, 
#city {
  width: 200px;
  margin-right: 20px;
}

#state {
  width: 150px;
  margin-right: 20px;
}

.howitworks img {
  height: 300px;
  width: 300px;
}

#howitworks {
  margin-bottom: 20px;
  text-align: center;
}

#howitworks h2, 
h3, 
small {
  font-family: 'Raleway', sans-serif;
  color: #337ab7;
}

.heading {
  margin-top: 250px;
  color: black;
  text-align: center;
  font-size: 48px
}

footer { background-color: #FF9D4E; }

footer ul li {
  display: inline-block;
  padding: 10px;
  float: right;
  font-family: 'Raleway', sans-serif;
}

#footer-left { padding: 10px; }
#footer-right { padding-top: 10px; }

#api-results,
#map {
  height: 500px;
  width: 50%;
}

.placeAddress { padding-right: 10px; }

#api-results {
  overflow: scroll;
  padding: 20px;
}

.border {
  border-bottom: 1px dashed black;
  width: 100%;
}

@media (max-width: 770px) {
  #search-container {
    height: 300px;
  }
  #search {
    margin-left: 50px;
  }
  #footer-right,
  #footer-left {
    text-align: center;
  }
}









